In [3]:
import findspark
findspark.init("D:/spark")

In [4]:
from pyspark import SparkContext

In [5]:
# SparkContext oluşturma
sc = SparkContext("local[4]","map_flatMap")

In [6]:
# csv dosyası okuma
insanlarRDD2 = sc.textFile("D:/Datasets/simple_data.csv")

In [7]:
# header'dan kurtulma
insanlarRDD = insanlarRDD2.filter(lambda x: "sirano" not in x)

In [8]:
# Okunan dosyaya gözatma
insanlarRDD.take(5)

['1,Cemal,35,Isci,Ankara,3500',
 '2,Ceyda,42,Memur,Kayseri,4200',
 '3,Timur,30,Müzisyen,Istanbul,9000',
 '4,Burcu,29,Pazarlamaci,Ankara,4200',
 '5,Yasemin,23,,Bursa,4800']

In [12]:
# map() transformation: transformasyon satırın tümüne uygulanır
insanlarRDD.map(lambda x: x.upper()).take(5)

['1,CEMAL,35,ISCI,ANKARA,3500',
 '2,CEYDA,42,MEMUR,KAYSERI,4200',
 '3,TIMUR,30,MÜZISYEN,ISTANBUL,9000',
 '4,BURCU,29,PAZARLAMACI,ANKARA,4200',
 '5,YASEMIN,23,,BURSA,4800']

In [10]:
# flatMap(): transformasyon bir birime uygulanır. split ile herhangi birşey belirtilmemişse her bir karaktere uygulanır.
insanlarRDD.flatMap(lambda x: x.upper()).take(15)

['1', ',', 'C', 'E', 'M', 'A', 'L', ',', '3', '5', ',', 'I', 'S', 'C', 'I']

In [13]:
# flatMap() transformation: split ile boşluktan ayırdık ve transformasyon karakterden kelimeye dönüştü.
insanlarRDD.flatMap(lambda x: x.split(",")).map(lambda x: x.upper()).take(15)

['1',
 'CEMAL',
 '35',
 'ISCI',
 'ANKARA',
 '3500',
 '2',
 'CEYDA',
 '42',
 'MEMUR',
 'KAYSERI',
 '4200',
 '3',
 'TIMUR',
 '30']